.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: light;
  border: 0;
  height: 42px;
  min-width: 95%;
  border-radius: 7px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: white;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: white;
  background-color: transparent;
box-shadow: none !important;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
