@import url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css");

.inputfieldBox {
  border-bottom: 1px solid rgb(89, 87, 87);
  color: black;
  font-size: 15px;
  font-weight: light;
}

.inputfieldBox:focus {
  border-bottom: 2px solid black;
  box-shadow: none !important;
}

.form-control{
  padding-bottom: 0px !important;

}
.inline-block{
  display: inline-block;
}





