.mainFont{
    font-family: 'Arima', cursive;
    color:white;
}
.nav{
    font-size: 20px;
    font-weight: bold;
}
.navItem{
    
    color: white;
    padding-top: 17px;
    margin-right: 10px;
}

.navItem:hover{
    color: #FFAC1C;
}

.primarybtnoutline {
    border-color: #FFAC1C;
    color: #FFAC1C;
}
.primarybtnoutline:hover{
    color:#0d6efd;
    background-color:white;
}
.primarybtn {
    background-color:#FFAC1C;
    color: white;
    border-color: #FFAC1C;
}
.primarybtn:hover{
    background-color:#0d6efd;
    color: white;
    border-color: white;
}