.extremebg{
    background-image: url('../images/extreme.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .bottomBold{
    border-bottom: 2px solid #0d6efd;
    height: 5px;
  }